###

  Project Name: Custom Profile Script
  Date:2014.11.13
  Created by: Lightnet
  Link:https://github.com/Lightnet/customprofilescript
  license: MIT

  Check for more information on readme.txt file.

###

# See https://atom.io/docs/latest/creating-a-package#menus for more details

'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle customprofilescript'
      'command': 'customprofilescript:toggle'
    }
  ]
'menu': [
  {
    'label': 'customprofilescript'
    'submenu': [
      {
        'label': 'Toggle'
        'command': 'customprofilescript:toggle'
      },
      {
        'label': 'Avatar'
        'command': 'customprofilescript:toggleavatar'
      },
      {
        'label': 'Mode'
        'submenu': [
          {
            'label': 'Run'
            'command': 'customprofilescript:run'
          },
          {
            'label': 'Stop'
            'command': 'customprofilescript:kill-process'
          },
          {
            'label': 'Restart'
            'command': 'customprofilescript:kill-process'
          }
        ]
      },
      {
        'label': 'View'
        'submenu': [
          {
            'label': 'Toolbar'
            'command': 'customprofilescript:toggletoolbar'
          }
        ]
      },
      {
        'label': 'Debug Test'
        'submenu': [
          {
            'label': 'console append'
            'command': 'customprofilescript:msg-console'
          }
        ]
      },
      {
        'label': 'Config'
        'command': 'customprofilescript:show-my-config-view'
      },
      {
        'label': 'Console'
        'command': 'customprofilescript:toggle-console'
      },
    ]
  }
]


###
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle customprofilescript'
      'command': 'customprofilescript:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'customprofilescript'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'customprofilescript:toggle'
        },
        {
          'label': 'Run'
          'command': 'customprofilescript:run'
        },
        {
          'label': 'kill-process'
          'command': 'customprofilescript:kill-process'
        },
        {
          'label': 'console append'
          'command': 'customprofilescript:msg-console'
        },
        {
          'label': 'Toolbar'
          'command': 'customprofilescript:toggletoolbar'
        },
        {
          'label': 'Settings'
          'command': 'customprofilescript:settings'
        },
        {
          'label': 'Console'
          'command': 'customprofilescript:toggle-console'
        },
      ]
    ]
  }
]
###
