# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle customprofilescript'
      'command': 'customprofilescript:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'customprofilescript'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'customprofilescript:toggle'
        },
        {
          'label': 'Run'
          'command': 'customprofilescript:run'
        },
        {
          'label': 'kill-process'
          'command': 'customprofilescript:kill-process'
        },
        {
          'label': 'console append'
          'command': 'customprofilescript:msg-console'
        },
        {
          'label': 'Toolbar'
          'command': 'customprofilescript:toggletoolbar'
        },
        {
          'label': 'Settings'
          'command': 'customprofilescript:settings'
        },
        {
          'label': 'Console'
          'command': 'customprofilescript:toggle-console'
        },
      ]
    ]
  }
]
